*{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #003135;
    font-size: 30px;
}

h2 {
    background-color: #024950;
    color: white;
    font-size: 24px;
}

li {
    font-size: 16px;
    font-weight: lighter;
}

a {
    color: #0FA4AF;
}

span {
    color: #964734;
}

li::marker {
    color: #964734;
}

.main {
    width: 50%;
    padding: 30px;
    margin: 20px auto;
    background-color: #AFDDE5;
}